<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /rainer/
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]
 

    RewriteRule ^([a-z]+)$ index.php?page=$1 [L,NC]
    RewriteRule ^([a-z]+)/([a-z]+)$ index.php?page=$1&subpage=$2 [L,NC]
</IfModule>